.block-editor-block-inspector .mce-agsdi-icon-picker {

  .agsdi-icons [data-icon] {
    font-size : 30px;
    width     : 48px;
    height    : 48px;
    padding   : 5px !important;
    }

  .gb-agsdi-icon-search {
    margin-bottom : 20px !important;
    }

  .components-base-control.gb-agsdi-filters-wrapper {
    margin-bottom : 20px
    }

  .agsdi-icons {
    margin-bottom : 20px;
    border        : 1px solid #757575;
    }
  }
