
#ds_icon_expansion-settings-instructions .agsdi-icon {
  font-size      : 24px;
  color          : #F060E1;
  vertical-align : text-bottom;
  }

ul#ds_icon_expansion-settings-products {
  list-style  : disc;
  margin-left : 2em;
  }