.price-rule-active td {
    background-color: #cc99c2 !important;
    color: #fff;
    transition: all .3s ease-in-out;
}

.price-rules-table {
    margin-top: 15px;
}

.price-rule-active td {
    color: #fff;
    transition: all .3s ease-in-out;
}

.price-rule-active .amount {
    color: #fff;
}

.price-rules-table {
    margin: 15px 0;
    width: 100%;
}

.price-rules-table tr {
    background: #fff;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.price-table-tooltip {
    padding: 0;
    width: 250px !important;
    z-index: 99999;
}

.price-rules-table-icon {
    vertical-align: middle;
}

.price-table-tooltip-svg {
    margin-left: 8px;
    width: 15px;
    cursor: help;
}

.price-table-tooltip .price-rules-table {
    margin: 0;
}

.price-table-tooltip {
    position: relative;
}

/**
* Summary table
*/
.tier-pricing-summary-table {
    margin: 20px 0;
}

.tier-pricing-summary-table--hidden {
    display: none;
}

.tier-pricing-summary-table__top {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    font-weight: bold;
    border-top: 1px solid #f5f5f5;
}

.tier-pricing-summary-table__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.tier-pricing-summary-table__total {
    font-size: 1.5em;
    margin-left: 5px;
}

.tier-pricing-summary-table--inline {
    font-size: 1.3em;
}

.tier-pricing-summary-table-inline__label {
    display: inline-block;
}

/**
* End summary table
*/