/** General styles **/

[class*="i-agsdix-mcip-"] svg {
    min-width: 1em;
    min-height: 1em;
}

/* default font font-size */
.et-pb-icon, .et_pb_blurb [class*="i-agsdix-mcip-"] svg{
    font-size: 96px;
}

[class*="i-agsdix-mcip-"]:before, [class*="i-agsdix-mcip-"]:after {
    content: none !important;
}

.wadip-tertiary-color {
    fill: #dde4eb;
}