
/* @media screen and (max-width: 767px) */

.wpsc-iso .table-responsive {
  width: 100%;
  margin-bottom: 15px;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid #dddddd;
}
.wpsc-iso .table-responsive > .table {
  margin-bottom: 0;
}
.wpsc-iso .table-responsive > .table > thead > tr > th,
.wpsc-iso .table-responsive > .table > tbody > tr > th,
.wpsc-iso .table-responsive > .table > tfoot > tr > th,
.wpsc-iso .table-responsive > .table > thead > tr > td,
.wpsc-iso .table-responsive > .table > tbody > tr > td,
.wpsc-iso .table-responsive > .table > tfoot > tr > td {
  white-space: nowrap;
}
.wpsc-iso .table-responsive > .table-bordered {
  border: 0;
}
.wpsc-iso .table-responsive > .table-bordered > thead > tr > th:first-child,
.wpsc-iso .table-responsive > .table-bordered > tbody > tr > th:first-child,
.wpsc-iso .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.wpsc-iso .table-responsive > .table-bordered > thead > tr > td:first-child,
.wpsc-iso .table-responsive > .table-bordered > tbody > tr > td:first-child,
.wpsc-iso .table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0;
}
.wpsc-iso .table-responsive > .table-bordered > thead > tr > th:last-child,
.wpsc-iso .table-responsive > .table-bordered > tbody > tr > th:last-child,
.wpsc-iso .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.wpsc-iso .table-responsive > .table-bordered > thead > tr > td:last-child,
.wpsc-iso .table-responsive > .table-bordered > tbody > tr > td:last-child,
.wpsc-iso .table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0;
}
.wpsc-iso .table-responsive > .table-bordered > tbody > tr:last-child > th,
.wpsc-iso .table-responsive > .table-bordered > tfoot > tr:last-child > th,
.wpsc-iso .table-responsive > .table-bordered > tbody > tr:last-child > td,
.wpsc-iso .table-responsive > .table-bordered > tfoot > tr:last-child > td {
  border-bottom: 0;
}
.wpsc-iso .navbar-nav .open .dropdown-menu {
  position: static;
  float: none;
  width: auto;
  margin-top: 0;
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.wpsc-iso .navbar-nav .open .dropdown-menu > li > a,
.wpsc-iso .navbar-nav .open .dropdown-menu .dropdown-header {
  padding: 5px 15px 5px 25px;
}
.wpsc-iso .navbar-nav .open .dropdown-menu > li > a {
  line-height: 20px;
}
.wpsc-iso .navbar-nav .open .dropdown-menu > li > a:hover,
.wpsc-iso .navbar-nav .open .dropdown-menu > li > a:focus {
  background-image: none;
}
.wpsc-iso .navbar-form .form-group {
  margin-bottom: 5px;
}
.wpsc-iso .navbar-form .form-group:last-child {
  margin-bottom: 0;
}
.wpsc-iso .navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #777777;
}
.wpsc-iso .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.wpsc-iso .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #333333;
  background-color: transparent;
}
.wpsc-iso .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.wpsc-iso .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.wpsc-iso .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #555555;
  background-color: #e7e7e7;
}
.wpsc-iso .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
.wpsc-iso .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.wpsc-iso .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.wpsc-iso .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
  border-color: #080808;
}
.wpsc-iso .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
  background-color: #080808;
}
.wpsc-iso .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  color: #9d9d9d;
}
.wpsc-iso .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
.wpsc-iso .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.wpsc-iso .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
.wpsc-iso .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
.wpsc-iso .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: #080808;
}
.wpsc-iso .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
.wpsc-iso .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.wpsc-iso .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}
.wpsc-iso .visible-xs {
  display: block !important;
}
.wpsc-iso table.visible-xs {
  display: table;
}
.wpsc-iso tr.visible-xs {
  display: table-row !important;
}
.wpsc-iso th.visible-xs,
.wpsc-iso td.visible-xs {
  display: table-cell !important;
}
.wpsc-iso .visible-xs-block {
  display: block !important;
}
.wpsc-iso .visible-xs-inline {
  display: inline !important;
}
.wpsc-iso .visible-xs-inline-block {
  display: inline-block !important;
}
.wpsc-iso .hidden-xs {
  display: none !important;
}
.wpsc-iso .navbar .navbar-nav .open .dropdown-menu > .active > a,
.wpsc-iso .navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.wpsc-iso .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff;
  background-image: -webkit-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
  background-image: -o-linear-gradient(top, #337ab7 0%, #2e6da4 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#2e6da4));
  background-image: linear-gradient(to bottom, #337ab7 0%, #2e6da4 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0);
}
