/* Since PeachPay is a payment gateway, but we don't actually do anything on
the checkout page yet, we need to hide the PeachPay selection so that people
can't place an order without paying. */
.wc_payment_method.payment_method_peachpay,
.wc_payment_method.payment_method_peachpay_stripe,
.wc_payment_method.payment_method_peachpay_paypal {
	display: none !important;
}
.pp-button-container {
	clear: both;
	margin: 20px 0;
}
#pp-button-container-mini {
	margin-bottom: 0;
	margin-top: 0.5em;
}
@media screen and (max-width: 768px) {
	.pp-button[style] {
		width: 100% !important;
	}
}
.pp-button {
	background-color: var(--button-color) !important;
	border: none;
	border-radius: 5px;
	box-shadow: none;
	color: white;
	overflow: hidden;
	padding: 15px 1px;
	position: relative;
	text-align: center;
	text-shadow: none;
	margin: 0;
	height: auto;
}
.pp-button-default-font {
	font-family: sans-serif !important;
	font-size: 16px !important;
	font-weight: bold !important;
	text-transform: uppercase !important;
}
.pp-button-float {
	background-color: var(--button-color) !important;
	border: none;
	border-radius: 100%;
	box-shadow: rgb(0 0 0 / 25%) 0px 2px 8px 2px;
	color: white;
	overflow: hidden;
	padding: 5px;
	position: relative;
	text-align: center;
	margin: 0;
	outline: 0 !important;
}
#pp-button-mini {
	border-radius: 0;
	font-size: 0.875em !important;
	padding: 10px;
}
.pp-button:hover {
	background-color: var(--button-color);
	color: white;
	cursor: pointer;
	opacity: 0.75;
}
.pp-button:disabled {
	opacity: 1 !important;
}
.pp-button-content {
	text-align: center;
}
.pp-button-mute {
	opacity: 0.6;
	cursor: not-allowed;
}
.pp-button-mute:hover {
	opacity: 0.6;
	cursor: not-allowed;
}
/* Button shine */
@keyframes pp-shine {
	100% {
		left: 200%;
	}
}
.pp-button-shine:after,
.pp-button-mini-shine:after {
	animation: pp-shine 5s ease infinite;
	background: linear-gradient(to right, rgba(255,255,255,0), rgba(255, 255, 255, 0.3), rgba(255,255,255,0));
	content: '';
	display: inherit;
	height: 200%;
	left: -200%;
	position: absolute;
	top: 0;
	transform: skewX(-20deg);
	width: 40%;
}
/* End button shine */
.pp-logo-img {
	display: inline;
	vertical-align: middle;
	margin-right: 5px;
}
.pp-spinner {
	width: 20px;
	display: inline;
	vertical-align: middle;
}
.pp-spinner-iframe {
	width: 50px;
}
.hide {
	display: none !important;
}

/* Custom styles for specific merchants, mostly from their request or from us
trying to make the button look more native. */
.rahimsapphire:hover {
	color: #086375;
	background-color: #f0f0f0 !important;
}

.margin-0 {
	margin: 0px;
}

.button-unlink-paypal {
	color: #f0f0f0 !important;
	background: #ed5e68 !important;
	border-color: #ed5e68 !important;
}

.button-unlink-stripe {
	color: #f0f0f0 !important;
	background: #ed5e68 !important;
	border-color: #ed5e68 !important;
}

.blazecandle:hover {
	color: white !important;
	background-color: black !important;
}

/* Make sure Drift doesn't cover PeachPay because it can sometimes get in the
way of tapping on fields on small mobile devices. */
.drift-frame-chat,
.drift-frame-controller {
	z-index: 2147483646 !important;
}
.button-container {
	display: grid;
	justify-items: center;
}
.cc-logo {
	max-width: 2rem !important;
	max-height: 2rem !important;
	margin: 0 2px;
	width: 16% !important; /* This 16% comes from the 6 CC logos being displayed 
	and should change if more icons are introduced */
}
.cc-logo-sidebar {
	width: 1.5rem;
	height: 1.5rem;
	margin: 0 2px;
}
.cc-company-logos {
	display: flex;
	margin-top: 3px;
}
.button-container-preview {
	display: flex;
	width: fit-content;
	width: -moz-fit-content;
	flex-direction: column;
	align-items: center;
}
.pp-btn-symbol {
	display: inline;
	width: 1rem;
	height: 1rem;
	vertical-align: middle;
	margin: 0 !important;
}
.pp-btn-symbol-mini {
	display: inline;
	width: 0.8rem;
	height: 0.8rem;
	vertical-align: middle;
}
.skre-icon {
	display: inline;
	height: 12px;
}
.skre-icon-mini {
	display: inline;
	height: 10px;
}
@media screen and (max-width: 768px) {
	.button-container {
		display: block;
	}
	.cc-company-logos {
		justify-content: center;
	}
	.button-container-preview {
		width: 100%;
	}
}

.checkout-container {
	text-align: center;
	border: 1px solid #dad3d3;
	border-radius: 15px;
	box-shadow: 0px 1px 5px rgb(0 0 0 / 10%);
	margin-bottom: 10px;
	padding: 0.5rem;
}

.checkout-header {
	margin-top: 10px;
	text-align: center;
	font-weight: bold;
}

.peachpay-description {
	margin-right: 35px;
	margin-left: 35px;
	margin-bottom: 5px
}

/* Some plugin or theme surrounds our loading spinner with a wrapper div
which adds extra styles. Prevent this. */
.pp-button .fluid-width-video-wrapper {
	padding: 0 !important;
	display: block !important;
}

.pp-button .fluid-width-video-wrapper object {
	position: inherit !important;
	top: inherit !important;
	left: inherit !important;
	width: 20px !important;
	height: 20px !important;
}

.pp-float-container {
	display: flex;
	flex-direction: column;
	margin: 20px 0;
}

#empty-cart-msg {
	position: absolute;
	top: 78px;
	width: 96px;
	font-family: sans-serif;
	font-size: 13px;
}

.item-count {
	background-color: black;
	color: white;
	border-radius: 100%;
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: -7px;
	left: 50px;
	box-shadow: rgb(0 0 0 / 25%) 1px 2px 8px 3px;
	font-size: 13px;
	font-family: sans-serif;
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
}

.pp-overlay {
	display: none;
	position: fixed !important;
	top: 0; right: 0; bottom: 0; left: 0;
	background: rgba(40, 40, 40, 0.75);
	z-index: 2147483647 !important;
	justify-content: center;
	width: 100% !important;
	height: 100vh;
}

#peachpay-iframe {
	position: absolute !important;
	width: 100% !important;
	height: 100% !important;
	display: block !important;
	border: none !important;
	overflow-y: scroll !important;
	-webkit-overflow-scrolling: touch;
}

@media screen and (max-width: 768px) {
	.pp-overlay {
		background-color: white !important;
	}

	@supports (-webkit-touch-callout: none) {
		#peachpay-iframe{
			height: calc(100vh - 44px) !important;
		}
	}
}